In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#pandas settings
settings= {'display.max_rows': 50,
           'display.max_columns': 200,
           'display.width': 1000}

for k, v in settings.items():
    pd.set_option(k,v)
    
#matplotlib settings

In [3]:
#Load raw data to pandas
path= "../../Data/Raw_Data/"

raw_energy= pd.read_csv(path + "energy_dataset.csv")
raw_weather= pd.read_csv(path + "weather_features.csv")

In [4]:
#preview energy data
print("Energy shape: ", raw_energy.shape)
raw_energy.head()

Energy shape:  (35064, 29)

                        time  generation biomass  generation fossil brown coal/lignite  generation fossil coal-derived gas  generation fossil gas  generation fossil hard coal  generation fossil oil  generation fossil oil shale  generation fossil peat  generation geothermal  generation hydro pumped storage aggregated  generation hydro pumped storage consumption  generation hydro run-of-river and poundage  generation hydro water reservoir  generation marine  generation nuclear  generation other  generation other renewable  generation solar  generation waste  generation wind offshore  generation wind onshore  forecast solar day ahead  forecast wind offshore eday ahead  forecast wind onshore day ahead  total load forecast  total load actual  price day ahead  price actual
0  2015-01-01 00:00:00+01:00               447.0                                 329.0                                 0.0                 4844.0                       4821.0                  162.0                          0.0                     0.0                    0.0                                         NaN                                        863.0                                      1051.0                            1899.0                0.0              7096.0              43.0                        73.0              49.0             196.0                       0.0                   6378.0                      17.0                                NaN                           6436.0              26118.0            25385.0            50.10         65.41
1  2015-01-01 01:00:00+01:00               449.0                                 328.0                                 0.0                 5196.0                       4755.0                  158.0                          0.0                     0.0                    0.0                                         NaN                                        920.0                                      1009.0                            1658.0                0.0              7096.0              43.0                        71.0              50.0             195.0                       0.0                   5890.0                      16.0                                NaN                           5856.0              24934.0            24382.0            48.10         64.92
2  2015-01-01 02:00:00+01:00               448.0                                 323.0                                 0.0                 4857.0                       4581.0                  157.0                          0.0                     0.0                    0.0                                         NaN                                       1164.0                                       973.0                            1371.0                0.0              7099.0              43.0                        73.0              50.0             196.0                       0.0                   5461.0                       8.0                                NaN                           5454.0              23515.0            22734.0            47.33         64.48
3  2015-01-01 03:00:00+01:00               438.0                                 254.0                                 0.0                 4314.0                       4131.0                  160.0                          0.0                     0.0                    0.0                                         NaN                                       1503.0                                       949.0                             779.0                0.0              7098.0              43.0                        75.0              50.0             191.0                       0.0                   5238.0                       2.0                                NaN                           5151.0              22642.0            21286.0            42.27         59.32
4  2015-01-01 04:00:00+01:00               428.0                                 187.0                                 0.0                 4130.0                       3840.0                  156.0                          0.0                     0.0                    0.0                                         NaN                                       1826.0                                       953.0                             720.0                0.0              7097.0              43.0                        74.0              42.0             189.0                       0.0                   4935.0                       9.0                                NaN                           4861.0              21785.0            20264.0            38.41         56.04

In [5]:
#preview weather data
print("Weather shape: ", raw_weather.shape)
raw_weather.head()

Weather shape:  (178396, 17)

                      dt_iso city_name     temp  temp_min  temp_max  pressure  humidity  wind_speed  wind_deg  rain_1h  rain_3h  snow_3h  clouds_all  weather_id weather_main weather_description weather_icon
0  2015-01-01 00:00:00+01:00  Valencia  270.475   270.475   270.475      1001        77           1        62      0.0      0.0      0.0           0         800        clear        sky is clear          01n
1  2015-01-01 01:00:00+01:00  Valencia  270.475   270.475   270.475      1001        77           1        62      0.0      0.0      0.0           0         800        clear        sky is clear          01n
2  2015-01-01 02:00:00+01:00  Valencia  269.686   269.686   269.686      1002        78           0        23      0.0      0.0      0.0           0         800        clear        sky is clear          01n
3  2015-01-01 03:00:00+01:00  Valencia  269.686   269.686   269.686      1002        78           0        23      0.0      0.0      0.0           0         800        clear        sky is clear          01n
4  2015-01-01 04:00:00+01:00  Valencia  269.686   269.686   269.686      1002        78           0        23      0.0      0.0      0.0           0         800        clear        sky is clear          01n

Data Cleaning

In [6]:
#Import modules
path= "../../"
os.chdir(path)

In [7]:
from src.DataCleaning import clean_columns, set_time_index, kelvin_to_celsius

#Clean raw_energy
clean_energy= set_time_index(clean_columns(raw_energy, cols= None), time_column= "time")

#Clean raw_weather
clean_weather= set_time_index(clean_columns(raw_weather, cols= None), time_column= "dt_iso")

weather_cols= ["temp", "temp_min", "temp_max"]
clean_weather= kelvin_to_celsius(clean_weather, weather_cols)

In [8]:
#Sanity checks
print("Old energy: %s  New energy: %s" % (raw_energy.shape, clean_energy.shape))
print("Old weather: %s  New weather: %s" % (raw_weather.shape, clean_weather.shape))

Old energy: (35064, 29)  New energy: (35064, 21)
Old weather: (178396, 17)  New weather: (178396, 17)

Stats about energy data

In [9]:
#descriptive stats
clean_energy.describe().T

                                               count          mean          std       min         25%       50%       75%       max
generation biomass                           35045.0    383.513540    85.353943      0.00    333.0000    367.00    433.00    592.00
generation fossil brown coal/lignite         35046.0    448.059208   354.568590      0.00      0.0000    509.00    757.00    999.00
generation fossil gas                        35046.0   5622.737488  2201.830478      0.00   4126.0000   4969.00   6429.00  20034.00
generation fossil hard coal                  35046.0   4256.065742  1961.601013      0.00   2527.0000   4474.00   5838.75   8359.00
generation fossil oil                        35045.0    298.319789    52.520673      0.00    263.0000    300.00    330.00    449.00
generation hydro pumped storage consumption  35045.0    475.577343   792.406614      0.00      0.0000     68.00    616.00   4523.00
generation hydro run-of-river and poundage   35045.0    972.116108   400.777536      0.00    637.0000    906.00   1250.00   2000.00
generation hydro water reservoir             35046.0   2605.114735  1835.199745      0.00   1077.2500   2164.00   3757.00   9728.00
generation nuclear                           35047.0   6263.907039   839.667958      0.00   5760.0000   6566.00   7025.00   7117.00
generation other                             35046.0     60.228585    20.238381      0.00     53.0000     57.00     80.00    106.00
generation other renewable                   35046.0     85.639702    14.077554      0.00     73.0000     88.00     97.00    119.00
generation solar                             35046.0   1432.665925  1680.119887      0.00     71.0000    616.00   2578.00   5792.00
generation waste                             35045.0    269.452133    50.195536      0.00    240.0000    279.00    310.00    357.00
generation wind onshore                      35046.0   5464.479769  3213.691587      0.00   2933.0000   4849.00   7398.00  17436.00
forecast solar day ahead                     35064.0   1439.066735  1677.703355      0.00     69.0000    576.00   2636.00   5836.00
forecast wind onshore day ahead              35064.0   5471.216689  3176.312853    237.00   2979.0000   4855.00   7353.00  17430.00
total load forecast                          35064.0  28712.129962  4594.100854  18105.00  24793.7500  28906.00  32263.25  41390.00
total load actual                            35028.0  28696.939905  4574.987950  18041.00  24807.7500  28901.00  32192.00  41015.00
price day ahead                              35064.0     49.874341    14.618900      2.06     41.4900     50.52     60.53    101.99
price actual                                 35064.0     57.884023    14.204083      9.33     49.3475     58.02     68.01    116.80

In [10]:
#missing data
clean_energy.isna().sum()

time                                            0
generation biomass                             19
generation fossil brown coal/lignite           18
generation fossil gas                          18
generation fossil hard coal                    18
generation fossil oil                          19
generation hydro pumped storage consumption    19
generation hydro run-of-river and poundage     19
generation hydro water reservoir               18
generation nuclear                             17
generation other                               18
generation other renewable                     18
generation solar                               18
generation waste                               19
generation wind onshore                        18
forecast solar day ahead                        0
forecast wind onshore day ahead                 0
total load forecast                             0
total load actual                              36
price day ahead                                 0
price actual                                    0
dtype: int64

Stats about energy data

**Stats about Weather data**

In [11]:
#descriptive stats
clean_weather.describe().T

               count         mean          std     min          25%     50%          75%          max
temp        178396.0    16.468605     8.026199  -10.91    10.520000    16.0    22.000000       42.450
temp_min    178396.0    15.180442     7.955491  -10.91     9.333602    15.0    20.580125       42.000
temp_max    178396.0    17.941267     8.612454  -10.91    11.500000    17.0    24.000000       48.000
pressure    178396.0  1069.260740  5969.631893    0.00  1013.000000  1018.0  1022.000000  1008371.000
humidity    178396.0    68.423457    21.902888    0.00    53.000000    72.0    87.000000      100.000
wind_speed  178396.0     2.470560     2.095910    0.00     1.000000     2.0     4.000000      133.000
wind_deg    178396.0   166.591190   116.611927    0.00    55.000000   177.0   270.000000      360.000
rain_1h     178396.0     0.075492     0.398847    0.00     0.000000     0.0     0.000000       12.000
rain_3h     178396.0     0.000380     0.007288    0.00     0.000000     0.0     0.000000        2.315
snow_3h     178396.0     0.004763     0.222604    0.00     0.000000     0.0     0.000000       21.500
clouds_all  178396.0    25.073292    30.774129    0.00     0.000000    20.0    40.000000      100.000
weather_id  178396.0   759.831902   108.733223  200.00   800.000000   800.0   801.000000      804.000

In [12]:
clean_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  datetime64[ns]
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(6), object(4)
memory usage: 23.1+ MB

EDA Weather Data

In [13]:
clean_weather.city_name.unique()

array(['Valencia', 'Madrid', 'Bilbao', ' Barcelona', 'Seville'],
      dtype=object)

In [14]:
#Average temp per city
clean_weather.groupby(["city_name"]).temp.mean()

city_name
 Barcelona    16.698248
Bilbao        13.228489
Madrid        14.911071
Seville       19.955431
Valencia      17.630780
Name: temp, dtype: float64

Feature engineering ideas
- flags for season